@font-face {
    font-family: Consolas;
    src: url("media/consolas.ttf");
}

*{
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    font-size: 3rem;
    font-family: Consolas;
}

.title span {
    display: inline-block;
    min-width: 1ch;
}